body {
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}
/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}
.logo img {
  height: 50px;
  width: auto;
}
nav {
  display: flex;
  margin-right: 30px;
  align-items: center;
  justify-content: space-between;
}
nav span {
  margin-left: 30px;
}
a {
  text-decoration: underline;
  color: seashell;
}
/* Main content */
main {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 69px auto;
}
.mission {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1200px;
}
h2 {
  margin-bottom: 0;
}
h4 {
  margin-top: 20px;
}
.mid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
  align-items: center;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
}
img {
  width: 300px;
  height: 200px;
}
